# Terraform - NE JAMAIS committer
.terraform/
.terraform.lock.hcl    # Attends, NON : on veut le COMMITTER → on l'exclut pas
 
# États Terraform - TRÈS sensible
*.tfstate
*.tfstate.*
*.tfstate.backup

# Variables réelles - ne pas committer
*.tfvars
*.auto.tfvars

# Mais on autorise l'exemple
!terraform.tfvars.example

# Lock file : on le COMMIT (important pour reproductibilité)
!.terraform.lock.hcl

# Autres
.DS_Store
*.log
infra/bootstrap/terraform.tfvars
infra/bootstrap/terraform.tfvars.example
infra/bootstrap/terraform.tfstate
infra/bootstrap/terraform.tfstate.backup
infra/bootstrap/.terraform/

 
infra/env/dev/terraform.tfstate
infra/env/dev/terraform.tfstate.backup
infra/env/dev/.terraform/

 